


.Rectangle5{
    top: -0.406982421875px;
  left: 0px;
  width: 1920px;
  height: 1080px;
  position: fixed;
  background: #020202 0% 0% no-repeat padding-box;
  opacity: 1;
  }
  
  .Group107{
    top: 10px;
  left: 10px;
  width: 52px;
  height: 52px;
  position:fixed;
  background: transparent url('../../assets/Group 107.png') 0% 0% no-repeat padding-box;
  opacity: 1;
  }
  
  .HiWellcome{
    top: 10px;
  left: 70px;
  width: 147px;
  height: 29px;
  position: fixed;
  text-align: left;
  letter-spacing: 0px;
  color: #FFFFFF;
  opacity: 1;
  }
  
  .NameHere{
    top: 25px;
  left: 70px;
  width: 97px;
  height: 22px;
  position: fixed;
  color: var(--unnamed-color-f9b233);
  text-align: left;
  letter-spacing: 0px;
  color: #F9B233;
  opacity: 1;
  }
  
  .Choose{
    top: 50px;
  left: 85px;
  width: 1208px;
  height: 37px;
  position: fixed;
  text-align: center;
  letter-spacing: 0px;
  color: #FFFFFF;
  opacity: 1;
  }
  
  .Group118{
    top: 50px;
  left: 30px;
  width: 404px;
  height: 525px;
  position:fixed;
  background: transparent url('../../assets/Group 118.png') 0% 0% no-repeat padding-box;
  opacity: 1;
  }
  .Group109{
    top: 100px;
    left: 65px;
    width: 344px;
    height: 466px;
    position: fixed;
    background: transparent url('../../assets/Group 109.png') 0% 0% no-repeat padding-box;
    opacity: 1;
    
  }
  .Group121{
    top: 580px;
  left: 100px;
  width: 255px;
  height: 73px;
  position:fixed;
  background: transparent url('../../assets/Group 121.png') 0% 0% no-repeat padding-box;
  opacity: 1;
  }
  .Group136{
    top: 50px;
  left: 480px;
  width: 404px;
  height: 525px;
  position: fixed;
  background: transparent url('../../assets/Group 136.png') 0% 0% no-repeat padding-box;
  opacity: 1;
  
  }
  
  .Group141{
    top: 100px;
  left: 500px;
  width: 368px;
  height: 426px;
  position: fixed;
  background: transparent url('../../assets/Group 141.png') 0% 0% no-repeat padding-box;
  opacity: 1;
  
  }
  .Group124{
    top: 580px;
  left: 550px;
  width: 255px;
  height: 73px;
  position: fixed;
  background: transparent url('../../assets/Group 124.png') 0% 0% no-repeat padding-box;
  opacity: 1;
  }
  
  .Group125{
    top: 50px;
  left: 930px;
  width: 404px;
  height: 525px;
  position: fixed;
  background: transparent url('../../assets/Group 125.png') 0% 0% no-repeat padding-box;
  opacity: 1;
  }
  .Group148{
    top: 100px;
  left: 960px;
  width: 344px;
  height: 468px;
  position:fixed;
  background: transparent url('../../assets/Group 148.png') 0% 0% no-repeat padding-box;
  opacity: 1;
  }
  .Group127{
    top: 580px;
  left: 1020px;
  width: 255px;
  height: 73px;
  position: fixed;
  background: transparent url('../../assets/Group 127.png') 0% 0% no-repeat padding-box;
  opacity: 1;
  }
  .Path74{
    top: 30px;
  left: 1000px;
  width: 179px;
  height: 8px;
  position: fixed;
  background: transparent url('../../assets/Path 74.png') 0% 0% no-repeat padding-box;
  opacity: 1;
  }
  .CreateNft{
    top: 10px;
  left: 1050px;
  width: 172px;
  height: 24px;
  position: fixed;
  color: var(--unnamed-color-f9b233);
  text-align: left;
  letter-spacing: 0px;
  color: #F9B233;
  opacity: 1;
  }
  
  .YourNft{
    top: 10px;
  left: 1200px;
  width: 108px;
  height: 24px;
  position: fixed;
  text-align: left;
  letter-spacing: 0px;
  color: #FFFFFF;
  opacity: 1;
  }