
<div class="container3">
    <div class="Rectangle5">
  <div class="Group107">
  <div class="HiWellcome">Hi, Welcome</div>
  <div class="NameHere">Praveen C</div>
  <div class="Choose">
    <h2>
      Choose your monkey from one of the below categories, to create your desired NFT.
    </h2>
  </div>
   <div class="Group118"></div>
   <div class="Group109"></div>
   <button class="Group121"></button>
  
   <div class="Group136"></div>
   <div class="Group141"></div>
   <button class="Group124"></button>
   <div class="Group125"></div>
   <div class="Group148"></div>
   <button class="Group127"></button>
   <div class="Path74"></div>
   <div class="CreateNft">CreateNFT</div>
   <div class="YourNft">YOUR NFT's</div>
</div>
  </div>
</div>
  

