<div class="data" *ngIf="!loadi">

<div class="container1">
    <div class="Rectangle1">
      <div class="imgdiv1"></div>
  
      
      <div class="imgdiv2"></div>
      
      
      <div class="load *ngIf=load">
      <div class="Group829">
        <div class="Rectangle329"></div>
      </div>
      <div class="Rectange328"></div>
    <div class="color"> </div>
  </div>
  
  
  
      <div class="LOADING"></div>
    </div>
  
</div>

</div>

<app-loginpage></app-loginpage>
<router-outlet></router-outlet>